* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
}

.inner {
  text-align: center;
  margin: 0 auto;
}

.outer {
  display: flex;
    align-items: center;
    height: 100vh;
}