* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  background-color: #00bbf0;
}

.inner {
  text-align: center;
  margin: 0 auto;
  background-color: #fdb44b;
  padding: 60px 10px;
  border-radius: 15%;
}

.outer {
  display: flex;
    align-items: center;
    height: 100vh;
}

h1 {
  font-size: 50px;
}

p, ul, ol {
  margin-right: 150px;
}

p {
  font-size: 20px;
}

a {
  line-height: 40px;
  font-size: 25px;
}

img, h2, p, ul, ol, h3 {
  margin-left: 150px;
}

.recipe-name {
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 60px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 30px;
}

img {
  margin: 30px auto;
  margin-bottom: 30px;
  border-radius: 15%;
  width: 400px;
}

ul, ol {
  font-size: 20px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

